.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 2em;
}

.product {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  &__popular {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: auto;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    text-align: center;
    background-color: var(--popular-bg-color);
    color: var(--color-text-black);
  }
  &__img {
    border-radius: 0.4em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }
  &__price {
    padding: 0.4em 0.6em;
    border-radius: 0.4em;
    background-color: var(--price-bg-color);
    color: var(--color-text-black);
    font-weight: 600;
  }
  &__rating {
    display: flex;
    align-items: center;
    column-gap: 0.6em;
  }
  &__star {
    width: 1.5em;
  }
  &__votes {
    color: var(--light-grey-color);
  }
}
