<section class="products">
  <h2 class="products__title">Our Collection</h2>
  <p class="products__description">
    Introducing our Coffee Collection, a selection of unique coffees from
    different roast types and origins, expertly roasted in small batches and
    shipped fresh weekly.
  </p>
  <nav>
    <ul class="products__nav">
      <li class="products__nav-li">
        <a class="products__nav-link" routerLink="all-products">All products</a>
      </li>
      <li class="products__nav-li">
        <a class="products__nav-link" routerLink="available-products"
          >Available Now</a
        >
      </li>
    </ul>
  </nav>
  <div class="products__products">
    <router-outlet></router-outlet>
  </div>
</section>
